aside.left-sidebar
    ul#slide-out.sidenav
      li
        ul.collapsible
          li.small-cap
            span.hide-menu Analytics
          li
            a.collapsible-header(href='/admin')
              i.material-icons dashboard
              span.hide-menu  Dashboard
          //- li.small-cap
          //-   span.hide-menu Management
          li
            a.collapsible-header(href='/admin/onlineuser')
              i.material-icons dns
              span.hide-menu  Online User
          //-   .collapsible-body
          //-     ul
          //-       li
          //-         a(href='/category')
          //-           i.material-icons filter_vintage
          //-           span.hide-menu All Category
                //- li
                //-   a(href='#')
                //-     i.material-icons photo_album
                //-     span.hide-menu Email Detail
                //- li
                //-   a(href='#')
                //-     i.material-icons photo_album
                //-     span.hide-menu Email Compose
          //- li
          //-   a.collapsible-header.has-arrow(href='javascript: void(0);')
          //-     i.material-icons donut_small
          //-     span.hide-menu  Booking
          //-   .collapsible-body
          //-     ul
          //-       li
          //-         a(href='/booking/incoming/' +1)
          //-           i.material-icons collections_bookmark
          //-           span.hide-menu Incoming Booking
          //-       li
          //-         a(href='/booking/history/' +1)
          //-           i.material-icons bookmark
          //-           span.hide-menu History Booking
          //- li
          //-   a.collapsible-header.has-arrow(href='javascript: void(0);')
          //-     i.material-icons people
          //-     span.hide-menu  User
          //-   .collapsible-body
          //-     ul
          //-       li
          //-         a(href='/user/registered/'+1)
          //-           i.material-icons verified_user
          //-           span.hide-menu Registered User
          //-       li
          //-         a(href='/user/booking-user/'+1)
          //-           i.material-icons recent_actors
          //-           span.hide-menu Booking User
          //-       li
          //-         a(href='/user/booked-user/'+1)
          //-           i.material-icons person_pin
          //-           span.hide-menu Booked User
          //-       li
          //-         a(href='/user/photographer/'+1)
          //-           i.material-icons person_pin
          //-           span.hide-menu Photographer
          //- li.small-cap
          //-   span.hide-menu Extra
          //- li
          //-   a.collapsible-header(href='/sign/logout')
          //-     i.material-icons directions
          //-     span.hide-menu  Log Out
