extends ../layouts/index

block content
    .container-fluid
        .row
            .col.s12
                .card
                    .card-content
                        h4.card-title Online   #{oncounters} users
                        h6.card-subtitle
                        if users==null
                            h5 There is no data
                            //- a.waves-effect.waves-light.btn.modal-trigger(href='#add-contact') Add New Contact
                            //- #add-contact.modal
                            //-                         .modal-content
                            //-                             from
                            //-                                 .row
                            //-                                     .input-field.col.s12
                            //-                                         input#name(type='text')
                            //-                                         label(for='name') Name
                            //-                                 .row
                            //-                                     .input-field.col.s12
                            //-                                         input#email(type='email')
                            //-                                         label(for='email') Email
                            //-                                 .row
                            //-                                     .input-field.col.s12
                            //-                                         input#phone(type='text')
                            //-                                         label(for='phone') Phone
                            //-                                 .row
                            //-                                     .input-field.col.s12
                            //-                                         input#designation(type='text')
                            //-                                         label(for='designation') Designation
                            //-                                 .row
                            //-                                     .input-field.col.s12
                            //-                                         input#age(type='text')
                            //-                                         label(for='age') Age
                            //-                                 .row
                            //-                                     .input-field.col.s12
                            //-                                         input#date.datepicker(type='text')
                            //-                                         label(for='date') Date
                            //-                                 .row
                            //-                                     .input-field.col.s12
                            //-                                         input#salary(type='text')
                            //-                                         label(for='salary') Salary
                            //-                                 .row
                            //-                                     .file-field.input-field.col.s12
                            //-                                         .btn
                            //-                                             span File
                            //-                                             input(type='file')
                            //-                                         .file-path-wrapper
                            //-                                             input.file-path.validate(type='text')
                            //-                         .modal-footer
                            //-                             a.btn.modal-action.modal-close.waves-effect.waves-light.cyan(href='#!') Save
                            //-                             a.btn.modal-action.modal-close.waves-effect.waves-light.grey.darken-4(href='#!') Cancel
                        else
                           
                                table#demo-foo-addrow.table.m-t-10.highlight.contact-list.footable-loaded.footable(data-page-size='10')
                                    thead
                                        tr
                                            th No
                                            th Name
                                            th Email
                                            th State
                                            //- th VisiteCount
                                    tbody
                                        - var count = 1;
                                        each user in users
                                            tr
                                                td #{count}
                                                td
                                                    .chip
                                                        if user.userId.photoUrl
                                                            img(src='/images/'+user.userId.photoUrl alt='Contact Person')
                                                        else
                                                            img(src='/images/login.jpg' alt='Contact Person') 
                                                        |  #{user.userId.name}
                                                td  #{user.userId.email}
                                                td  
                                                    if user.currentState === 1
                                                        i.fas.fa-circle(style='color:green;')
                                                    else
                                                        i.fas.fa-circle(style='color:grey;')
                                            - count++;
                                    tfoot
                                        tr
                                            td(colspan='8')
                                                //- a.waves-effect.waves-light.btn.modal-trigger(href='#add-contact') Add New Contact
                                                //- #add-contact.modal
                                                //-     .modal-content
                                                //-         from
                                                //-             .row
                                                //-                 .input-field.col.s12
                                                //-                     input#name(type='text')
                                                //-                     label(for='name') Name
                                                //-             .row
                                                //-                 .input-field.col.s12
                                                //-                     input#email(type='email')
                                                //-                     label(for='email') Email
                                                //-             .row
                                                //-                 .input-field.col.s12
                                                //-                     input#phone(type='text')
                                                //-                     label(for='phone') Phone
                                                //-             .row
                                                //-                 .input-field.col.s12
                                                //-                     input#designation(type='text')
                                                //-                     label(for='designation') Designation
                                                //-             .row
                                                //-                 .input-field.col.s12
                                                //-                     input#age(type='text')
                                                //-                     label(for='age') Age
                                                //-             .row
                                                //-                 .input-field.col.s12
                                                //-                     input#date.datepicker(type='text')
                                                //-                     label(for='date') Date
                                                //-             .row
                                                //-                 .input-field.col.s12
                                                //-                     input#salary(type='text')
                                                //-                     label(for='salary') Salary
                                                //-             .row
                                                //-                 .file-field.input-field.col.s12
                                                //-                     .btn
                                                //-                         span File
                                                //-                         input(type='file')
                                                //-                     .file-path-wrapper
                                                //-                         input.file-path.validate(type='text')
                                                //-     .modal-footer
                                                //-         a.btn.modal-action.modal-close.waves-effect.waves-light.cyan(href='#!') Save
                                                //-         a.btn.modal-action.modal-close.waves-effect.waves-light.grey.darken-4(href='#!') Cancel
                                            td(colspan='3')
                                                .text-right
                                                    ul.pagination  

block pageCss
    link(href='/assets/libs/footable/css/footable.core.css' rel='stylesheet')
    link(href='/dist/css/pages/footable-page.css' rel='stylesheet')

block pageJavascript
    script(src='/assets/libs/footable/dist/footable.all.min.js')
    script.
        setInterval( function(){
            location.reload();
        }, 60000);
        $(window).on('load', function() {

            // Add & Remove Row
            var addrow = $('#demo-foo-addrow');
            addrow.footable().on('click', '.delete-row-btn', function() {

                //get the footable object
                var footable = addrow.data('footable');

                //get the row we are wanting to delete
                var row = $(this).parents('tr:first');

                var userid = $(this).attr('user_id');
                alert("I agree to delete this user.");

                //delete the row
                $.ajax({
                    url: "/admin/user/delete",
                    type: "POST",
                    dataType: "json",
                    data: {
                        userId : userid
                    },
                    success: function(result) {
                        footable.removeRow(row); 
                        //- location.reload();
                    },
                    error: function() {                      
                        location.reload();
                    },
                });
            });
        });


